<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.DictDao">

	<select id="get" resultType="com.bootdo.common.domain.CustomerTask">
		SELECT  task_id, template_id,task_type, task_state,good_id, good_link_url, good_title, store_name, total_visitor,
				total_number, task_time, task_begin_hour, task_end_hour, task_begin_miunte, task_end_miunte,
				task_search_scope, create_time, update_time
		FROM `customer_task` where task_id = #{taskId}
	</select>

	<select id="list" resultType="com.bootdo.common.domain.CustomerTask">
		SELECT  task_id, template_id,task_type, task_state,good_id, good_link_url, good_title, store_name, total_visitor,
				total_number, task_time, task_begin_hour, task_end_hour, task_begin_miunte, task_end_miunte,
				task_search_scope, create_time, update_time
		FROM `customer_task`
		<where>
			<if test="taskBeginTime != null and taskBeginTime != ''"> and task_time &gt;= #{taskBeginTime} </if>
			<if test="taskEndTime != null and taskEndTime != ''"> and task_time &lt;= #{taskEndTime} </if>
			<if test="taskType != null and taskType != ''"> and task_type = #{taskType} </if>
			<if test="taskState != null and taskState != ''"> and task_state = #{taskState} </if>
			<if test="goodId != null and goodId != ''"> and good_id = #{goodId} </if>
		</where>
		<!--<choose>
			<when test="taskEndTime != null and taskEndTime.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by task_id DESC
			</otherwise>
		</choose>-->
		ORDER BY task_id DESC
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT  COUNT(*)
		FROM `customer_task`
		<where>
			<if test="taskBeginTime != null and taskBeginTime != ''"> and task_time &gt;= #{taskBeginTime} </if>
			<if test="taskEndTime != null and taskEndTime != ''"> and task_time &lt;= #{taskEndTime} </if>
			<if test="taskType != null and taskType != ''"> and task_type = #{taskType} </if>
			<if test="taskState != null and taskState != ''"> and task_state = #{taskState} </if>
			<if test="goodId != null and goodId != ''"> and good_id = #{goodId} </if>
		</where>

	</select>

	<insert id="save" parameterType="com.bootdo.common.domain.DictDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_dict
		(
		`name`,
		`value`,
		`type`,
		`description`,
		`sort`,
		`parent_id`,
		`create_by`,
		`create_date`,
		`update_by`,
		`update_date`,
		`remarks`,
		`del_flag`
		)
		values
		(
		#{name},
		#{value},
		#{type},
		#{description},
		#{sort},
		#{parentId},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.common.domain.CustomerTaskDto">
		update customer_task
		<set>
			<if test="taskState != null">
				task_state = #{taskState},
			</if>
			<if test="taskTime != null">
				task_time = #{taskTime},
			</if>
			<if test="updateTime != null">
				update_time = NOW(),
			</if>
		</set>
		where task_id = #{taskId,jdbcType=INTEGER}
	</update>

	<delete id="remove">
		delete from sys_dict where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_dict where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="listType" resultType="com.bootdo.common.domain.DictDO">
		select distinct `type` , description from sys_dict
	</select>

</mapper>