<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动</title>
    <link rel="stylesheet" href="CSS/activity.css">
    <script type="text/javascript" src="JQuery/jquery-3.3.1.min.js"></script>
</head>
<style type="text/css">
    body{
        margin: 0;
        min-width: 1276px;
        font-size:62.5%;
        background-color: #F3F3F3;
    }

</style>
<script type="text/javascript">
    onload = function(){
        var twoimg_height = $("body").height();
        $("#twoimg").height(twoimg_height*0.35);
        $("#threeimg").height(twoimg_height*0.5);
    }
</script>
<body>
<div class="header">
    <!--导航条-->
    <span class="head_a1">
        <span>欢迎使用人气通&nbsp;</span>|
        <span><a href="#">返回首页</a></span>&nbsp;|
        <span><a href="#">个人中心</a></span>
    </span>
    <span  class="head_a2">
        <span>您好，</span>
        <span>15827703606&nbsp;</span>|
        <span><a href="#">切换用户&nbsp;</a>|</span>
        <span><a href="#">帮助中心&nbsp;</a>|</span>
        <span>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=1&uin=1248326918&site=qq&menu=yes"><img style="height:1.2em;width: 1.2em; vertical-align: middle;margin-top: -3px;" border="0" src="user.imgs/qqq.png" alt="联系客服" title="联系客服"/>联系客服</a>
        </span>
    </span>
</div>

<img style="width:100%;display: block;" id="twoimg" src="activity_imgs/2_02.jpg">
<div style="position: relative;">
    <img style="width:100%;display: block;" id="threeimg" src="activity_imgs/2_03.jpg">
   <!--充送活动-->
    <div style=" position: absolute;top:65%;left:50%;margin-left: -400px;">
    <div class="realize">
        <div class="realize_d1">
            <div style="margin-bottom: 15px;">
            <span class="realize_d1_span1">充送活动</span><br/>
            <span class="realize_d1_span1" style="font-size: 1.5em;">(送T币，还送会员)</span>
            </div>
            <div class="realize_d1_one">
                <p class="blod_num">1</p>
                <p class="smail_font">累积充值金额2000元以上</p>
                <p class="smail_font">送15%T币</p>
                <p class="smail_font">再送</p>
                <p class="smail_font">黄金会员一年(享9.5折)</p>
            </div>
            <div style="margin-left:30px;margin-right: 30px;" class="realize_d1_one">
                <p class="blod_num">2</p>
                <p class="smail_font">累积充值金额5000元以上</p>
                <p class="smail_font">送25%T币</p>
                <p class="smail_font">再送</p>
                <p class="smail_font">铂金会员一年(享9.2折)</p>
            </div>
            <div class="realize_d1_one">
                <p class="blod_num">3</p>
                <p class="smail_font">累积充值金额10000元以上</p>
                <p class="smail_font">送35%T币</p>
                <p class="smail_font">再送</p>
                <p class="smail_font">钻石会员一年(享8.8折)</p>
            </div>
        </div>
    </div>
        <!--新用户活动-->
        <div class="realize" style="height:300px; ">
            <div class="realize_d1">
                <div style="margin-bottom: 15px;">
                    <span class="realize_d1_span1">新用户体验大礼包</span><br/>
                    <span class="realize_d1_span1" style="font-size: 1.5em;">充值任意金额，送10T币和运营资料再送体验会员一个月(享9.8折)</span>
                </div>
                <div class="newimg_div">
                    <img class="new_user_img" src="activity_imgs/BISING1.png">
                    <br/>
                    <span style="font-size: 1.5em;">10T币</span>
                </div>
                <div class="newimg_div">
                    <img style="width:60px;height:60px;margin-bottom: 60px;" src="activity_imgs/+.png">
                </div>
                <div class="newimg_div">
                    <img class="new_user_img" src="activity_imgs/BISING2.png">
                    <br/>
                    <span style="font-size: 1.5em;">运营资料</span>
                </div>
                <div class="newimg_div">
                    <img style="width:60px;height:60px;margin-bottom: 60px;" src="activity_imgs/+.png">
                </div>
                <div class="newimg_div">
                    <img class="new_user_img" src="activity_imgs/BISING3.png">
                    <br/>
                    <span style="font-size: 1.5em;">VIP会员</span>
                </div>
            </div>
        </div>
        <!--邀请有礼活动-->
        <div class="realize">
            <div class="realize_d1">
                <div style="margin-bottom: 15px;">
                    <span class="realize_d1_span1">邀请新人注册充值</span><br/>
                    <span class="realize_d1_span1" style="font-size: 1.5em;">(邀请新人注册并且充值可获相应T币或返现)</span>
                </div>
                <div class="realize_d1_one">
                    <p class="blod_num">1</p>
                    <p class="smail_font">邀请新人注册并且</p>
                    <p class="smail_font">累积充值2000元以上</p>
                    <p class="smail_font">送15%T币或者10%返现</p>
                </div>
                <div style="margin-left:30px;margin-right: 30px;" class="realize_d1_one">
                    <p class="blod_num">2</p>
                    <p class="smail_font">邀请新人注册并且</p>
                    <p class="smail_font">累积充值5000元以上</p>
                    <p class="smail_font">送20%T币或者15%返现</p>
                </div>
                <div class="realize_d1_one">
                    <p class="blod_num">3</p>
                    <p class="smail_font">邀请新人注册并且</p>
                    <p class="smail_font">累积充值10000元以上</p>
                    <p class="smail_font">送30%T币或者20%返现</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;font-size: 1.5em;color:red;">
            注：本次活动截止时间为2018年12月30号，最终解释权归本网站所有。
        </div>
    </div>

</div>
























</body>
</html>