<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/renqitong/login.css">
    <title>欢迎登录人气通，国内最顶尖的人气提升平台</title>
    <script type="text/javascript">
        /* 窗口尺寸改变的事件 */
        onload = function(){
            changeBgSize();
        }

        onresize = function(){
            changeBgSize();
        }
        function changeBgSize(){
            /* 得到窗口的宽高 */
            var w = document.body.clientWidth;
            var h = document.body.parentElement.clientHeight;
            /* 把得到的窗口宽高给到body的背景图片 */
            document.body.style.backgroundSize = w+"px "+h+"px";
        }
    </script>
    <style type="text/css">
        body{
            margin: 0;
            background-image: url("assets/login/images/ld-bg.jpg");
            background-repeat: no-repeat;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="header">
        <!--导航条-->
        <span style="padding-left: 15%">欢迎登陆人气通&nbsp;|</span>
        <span><a href="#">返回首页</a></span>
        <span style="padding-left: 40%;"><a href="register.html">用户注册&nbsp;|</a></span>
        <span><a href="#">帮助中心&nbsp;|</a></span>
        <span><a href="#">联系客服</a></span>

        <!--logo-->
        <div class="div_boss">
        <div class="logo_img">
            <img src="assets/login/images/ld-bg1.png">
            <div class="login_text1">
                网店提升专家<br/>
               <span> RENQITONG</span>
            </div>
            <div class="login_hr" style="border:1.5px solid #F7494A;width:200px;"></div>
            <div class="login_text2">
                网店排名提升，就用人气通
            </div>
        </div>

        <!--登陆-->
        <!--<form id="loginForm">-->
        <div class="login_div">
            <div class="login_div1">
                <span>用户登陆</span>
                <a href="register.html">没有账号？立即注册</a>
            </div>

            <div class="phone">
                <input id ="phone" type="text" name="phone" placeholder="请输入您的手机号码"/>
                <div class="phone_div">
                    <img src="assets/login/images/user-c1.png">
                </div>

            </div>
            <div class="pwd">
                <input id="customer_pwd" type="password" name="passWord" placeholder="请输入您的用户密码"/>
                <div class="pwd_div">
                    <img src="assets/login/images/password-c1.png">
                </div>
            </div>
            <div class="login_btn">
                <input type="submit" id="login_submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陆"/>
            </div>
            <div class="mm_pwd">
                <input type="checkbox" id="jz"/><label for="jz">记住密码</label>
                <a href="#">忘记密码？</a>
            </div>
            <div class="reg_foot">
                <a href="register.html">立即注册，快来提升你网店的各项指标吧</a>
            </div>
        </div>
        <!--</form>-->
    </div>
    <!--尾部-->
    <div class="footer">
        <span>2,236,0家网店都在用人气通推广提升店铺人气，还可以免费挂机赚钱，你还在等什么？</span>
    </div>
  </div>
</body>
<script th:src="@{assets/login/base.js}" type="text/javascript"></script>
<script th:src="@{jquery-3.1.1.js}" type="text/javascript"></script>
<script th:inline="javascript">
    $(function(){
        // 回车键登录
        document.onkeyup = function (event) {
            var e = event || window.event;
            var keyCode = e.keyCode || e.which;
            if(keyCode === 13){
                $("#login_submit").click();
            }
        };

        // $('#customer_pwd').on('keypress',function(event){
        //     if(event.keyCode == 13)
        //     {
        //         AjaxLogin();
        //     }
        // });

        $("#login_submit").click(function () {
            var customerPhone = $("#phone").val();
            if(customerPhone == ''){
                alert("请输入登录手机号");
               return;
            }
            if(customerPwd == ''){
                alert("请输入登录密码");
                return;
            }
            var customerPwd = $("#customer_pwd").val();
            var jsonFrom = '{"phone":"'+customerPhone+'","passWord":"'+customerPwd+'"}';
            console.log("数据格式 ： "+jsonFrom);
            $.ajax({
                url:baseUrl+'customer/login',
                type:'POST',
                async:"true", //默认是true,异步
                dataType:"json",
                data:jsonFrom,
                processData:false, //post一个对象需要设置为false
                contentType:"application/json",
                success:function(result){
                    console.log(result);
                    if(result.code=="200"){
                        // 登录成功后 将用户的token 存储到localStorage,用户退出的时候 清空值
//                    用户点击退出的时候 跳转到登录页面 清空
//                    $this.localstorage.clear();
//                    location.href = 'login.html'
                        var localCache = window.localStorage;
                        localCache.setItem('TOKEN',result.data.token);
                        localCache.setItem('customerName',result.data.phone);
                        localCache.setItem('domainName',baseUrl);
                        window.location.href = baseUrl+"page/index.html";
                    }else if(result.code=="201"){
                        alert(result.msg);
                        // $("#tick").text(data.message).css("color", "red");
                    }else if(result.code == '400'){
                        // 手机号格式异常
                        alert(result.msg);

                    }
                }
            });
        });
    });
</script>
</html>

















