<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renqi.market.dao.CustomerTaskMapper">
  <resultMap id="BaseResultMap" type="com.renqi.market.entity.CustomerTask">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="task_state" javaType="INTEGER" property="taskState"/>
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="good_link_url" jdbcType="VARCHAR" property="goodLinkUrl" />
    <result column="good_title" jdbcType="VARCHAR" property="goodTitle" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="total_visitor" jdbcType="INTEGER" property="totalVisitor" />
    <result column="total_number" jdbcType="INTEGER" property="totalNumber" />
    <result column="task_time" jdbcType="VARCHAR" property="taskTime" />
    <result column="task_begin_hour" jdbcType="VARCHAR" property="taskBeginHour" />
    <result column="task_end_hour" jdbcType="VARCHAR" property="taskEndHour" />
    <result column="task_begin_miunte" jdbcType="VARCHAR" property="taskBeginMiunte" />
    <result column="task_end_miunte" jdbcType="VARCHAR" property="taskEndMiunte" />
    <result column="task_search_scope" jdbcType="VARCHAR" property="taskSearchScope" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="queryCustomerTask" type="com.renqi.market.common.CustomerTaskVo">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="task_state" javaType="INTEGER" property="taskState"/>
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="good_link_url" jdbcType="VARCHAR" property="goodLinkUrl" />
    <result column="good_title" jdbcType="VARCHAR" property="goodTitle" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="total_visitor" jdbcType="INTEGER" property="totalVisitor" />
    <result column="total_number" jdbcType="INTEGER" property="totalNumber" />
    <result column="task_time" jdbcType="VARCHAR" property="taskTime" />
    <result column="task_begin_hour" jdbcType="VARCHAR" property="taskBeginHour" />
    <result column="task_end_hour" jdbcType="VARCHAR" property="taskEndHour" />
    <result column="task_begin_miunte" jdbcType="VARCHAR" property="taskBeginMiunte" />
    <result column="task_end_miunte" jdbcType="VARCHAR" property="taskEndMiunte" />
    <result column="task_search_scope" jdbcType="VARCHAR" property="taskSearchScope" />
  </resultMap>

  <sql id="Base_Column_List">
    task_id,order_no,template_id,task_type, good_id, good_link_url, good_title, store_name, total_visitor,
    total_number, task_time, task_begin_hour, task_end_hour, task_begin_miunte, task_end_miunte, 
    task_search_scope, create_time, update_time
  </sql>

  <select id="queryCustomerTask" parameterType="com.renqi.market.common.CustomerParamDto" resultMap="queryCustomerTask">
    SELECT
    task.*,w.word_name
    FROM customer_task task INNER JOIN customer cu ON task.customer_id = cu.customer_id
    LEFT JOIN task_word w ON task.task_id = w.task_id
    <where>
      <if test="customerId != null">
        task.customer_id = #{customerId}
      </if>
      <if test="taskType != null and taskType != ''">
        AND task.task_type = #{taskType}
      </if>
      <if test="taskState != null and taskState != ''">
        AND task.task_state = #{taskState}
      </if>
      <if test="beginTime != null and beginTime != ''">
        AND task.task_time &gt;#{beginTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND task.task_time &lt; #{endTime}
      </if>
      <if test="wordName != null and wordName != ''">
        AND w.word_name LIKE CONCATE('%',#{wordName})
      </if>
    </where>
    ORDER BY task.create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renqi.market.entity.CustomerTask">
    insert into customer_task (task_id, task_type, good_id, 
      good_link_url, good_title, store_name, 
      total_visitor, total_number, task_time, 
      task_begin_hour, task_end_hour, task_begin_miunte, 
      task_end_miunte, task_search_scope, create_time, 
      update_time)
    values (#{taskId,jdbcType=INTEGER}, #{taskType,jdbcType=VARCHAR}, #{goodId,jdbcType=INTEGER}, 
      #{goodLinkUrl,jdbcType=VARCHAR}, #{goodTitle,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, 
      #{totalVisitor,jdbcType=INTEGER}, #{totalNumber,jdbcType=INTEGER}, #{taskTime,jdbcType=VARCHAR}, 
      #{taskBeginHour,jdbcType=VARCHAR}, #{taskEndHour,jdbcType=VARCHAR}, #{taskBeginMiunte,jdbcType=VARCHAR}, 
      #{taskEndMiunte,jdbcType=VARCHAR}, #{taskSearchScope,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <!--用户发布任务新增-->
  <insert id="insertCustomerTask" parameterType="com.renqi.market.common.CustomerTaskDto">
    <selectKey keyProperty="taskId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="orderNo != null and orderNo != ''">
        order_no,
      </if>
      <if test="customerId != null and customerId != 0">
        customer_id,
      </if>
      <if test="templateId != null and templateId != ''">
        template_id,
      </if>
      <if test="taskState != null and taskState != ''">
        task_state,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="goodLinkUrl != null and goodLinkUrl != '' ">
        good_link_url,
      </if>
      <if test="goodTitle != null and goodTitle != ''">
        good_title,
      </if>
      <if test="storeName != null and storeName != ''">
        store_name,
      </if>
      <if test="totalVisitor != null">
        total_visitor,
      </if>
      <if test="totalNumber != null">
        total_number,
      </if>
      <if test="taskTime != null and taskTime != ''">
        task_time,
      </if>
      <if test="taskBeginHour != null">
        task_begin_hour,
      </if>
      <if test="taskEndHour != null">
        task_end_hour,
      </if>
      <if test="taskBeginMiunte != null">
        task_begin_miunte,
      </if>
      <if test="taskEndMiunte != null">
        task_end_miunte,
      </if>
      <if test="taskSearchScope != null">
        task_search_scope,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null and orderNo != ''">
        #{orderNo},
      </if>
      <if test="customerId != null and customerId != 0">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null and templateId != ''">
        #{templateId},
      </if>
      <if test="taskState != null and taskState != ''">
        #{taskState},
      </if>
      <if test="taskType != null and taskType != '' ">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="goodLinkUrl != null and goodLinkUrl != ''">
        #{goodLinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodTitle != null and goodTitle != '' ">
        #{goodTitle,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null and storeName != ''">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="totalVisitor != null">
        #{totalVisitor,jdbcType=INTEGER},
      </if>
      <if test="totalNumber != null">
        #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="taskTime != null and taskTime != '' ">
        #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="taskBeginHour != null and taskBeginHour != ''">
        #{taskBeginHour,jdbcType=VARCHAR},
      </if>
      <if test="taskEndHour != null and taskEndHour != ''">
        #{taskEndHour,jdbcType=VARCHAR},
      </if>
      <if test="taskBeginMiunte != null and taskBeginMiunte != ''">
        #{taskBeginMiunte,jdbcType=VARCHAR},
      </if>
      <if test="taskEndMiunte != null and taskEndMiunte != ''">
        #{taskEndMiunte,jdbcType=VARCHAR},
      </if>
      <if test="taskSearchScope != null and taskSearchScope != ''">
        #{taskSearchScope,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renqi.market.entity.CustomerTask">
    update customer_task
    <set>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="goodLinkUrl != null">
        good_link_url = #{goodLinkUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodTitle != null">
        good_title = #{goodTitle,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="totalVisitor != null">
        total_visitor = #{totalVisitor,jdbcType=INTEGER},
      </if>
      <if test="totalNumber != null">
        total_number = #{totalNumber,jdbcType=INTEGER},
      </if>
      <if test="taskTime != null">
        task_time = #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="taskBeginHour != null">
        task_begin_hour = #{taskBeginHour,jdbcType=VARCHAR},
      </if>
      <if test="taskEndHour != null">
        task_end_hour = #{taskEndHour,jdbcType=VARCHAR},
      </if>
      <if test="taskBeginMiunte != null">
        task_begin_miunte = #{taskBeginMiunte,jdbcType=VARCHAR},
      </if>
      <if test="taskEndMiunte != null">
        task_end_miunte = #{taskEndMiunte,jdbcType=VARCHAR},
      </if>
      <if test="taskSearchScope != null">
        task_search_scope = #{taskSearchScope,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renqi.market.entity.CustomerTask">
    update customer_task
    set task_type = #{taskType,jdbcType=VARCHAR},
      good_id = #{goodId,jdbcType=INTEGER},
      good_link_url = #{goodLinkUrl,jdbcType=VARCHAR},
      good_title = #{goodTitle,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      total_visitor = #{totalVisitor,jdbcType=INTEGER},
      total_number = #{totalNumber,jdbcType=INTEGER},
      task_time = #{taskTime,jdbcType=VARCHAR},
      task_begin_hour = #{taskBeginHour,jdbcType=VARCHAR},
      task_end_hour = #{taskEndHour,jdbcType=VARCHAR},
      task_begin_miunte = #{taskBeginMiunte,jdbcType=VARCHAR},
      task_end_miunte = #{taskEndMiunte,jdbcType=VARCHAR},
      task_search_scope = #{taskSearchScope,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>