<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renqi.market.dao.TaskGoodMapper">
  <resultMap id="BaseResultMap" type="com.renqi.market.entity.TaskGood">
    <id column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="good_no" jdbcType="VARCHAR" property="goodNo" />
    <result column="good_title" jdbcType="VARCHAR" property="goodTitle" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    good_id, task_id, good_no, good_title, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_good
    where good_id = #{goodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_good
    where good_id = #{goodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.renqi.market.entity.TaskGood">
    insert into task_good (good_id, task_id, good_no, 
      good_title, create_time, update_time
      )
    values (#{goodId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{goodNo,jdbcType=VARCHAR}, 
      #{goodTitle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.renqi.market.entity.TaskGood">
    insert into task_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodId != null">
        good_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="goodNo != null">
        good_no,
      </if>
      <if test="goodTitle != null">
        good_title,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="goodNo != null">
        #{goodNo,jdbcType=VARCHAR},
      </if>
      <if test="goodTitle != null">
        #{goodTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.renqi.market.entity.TaskGood">
    update task_good
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="goodNo != null">
        good_no = #{goodNo,jdbcType=VARCHAR},
      </if>
      <if test="goodTitle != null">
        good_title = #{goodTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.renqi.market.entity.TaskGood">
    update task_good
    set task_id = #{taskId,jdbcType=INTEGER},
      good_no = #{goodNo,jdbcType=VARCHAR},
      good_title = #{goodTitle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
</mapper>